.title_img {
    background-image: url("https://cdn11.bigcommerce.com/s-7c08qbh/images/stencil/original/p/holiday_1400x260_2018web__36845.original.jpg");
    height: 200px;
}
.title__text {
    text-align: center;
    color: #800000;
    font-size: x-large;
}

.title__p {
    text-align: center;
    font-size: large;
}
.title__p_first {
    font-size: x-large;
}
.wraper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 2vw;
}
.sidebar__menu {
    width: 100vh;
    height: 10vh;
    padding: 0.5em;
}
