@import url(//db.onlinewebfonts.com/c/ef6f88f3aa336db2f5bdf20a88f0f3e7?family=Freehand+521);
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    padding: 15px 0;
    border-bottom: 1px solid grey;
    color: #9900ff;

    font-size: 20px;
}
.cart td {
    padding: 10px 50px;
}
th {
    /* text-align: center; */
    padding-top: 5px;
    color: rgb(173, 36, 12);
    font-size: 25px;
}
td input {
    width: 55px;
    height: 30px;
    padding: 5px;
    font-size: 15px;
}
.delete {
    margin-bottom: 20px;
}

.total-price {
    text-align: end;
    margin-right: 190px;
    color: rgb(173, 36, 12);
    font-size: 30px;
    font-weight: bold;
}
.btn-form {
    display: inline;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: rgb(173, 36, 12);
    color: rgb(192, 192, 192);
    font-size: 18px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 650px;
    margin-bottom: 50px;
}
.btn-form:hover {
    box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.5);
    background: rgb(129, 24, 5);
}
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200");

.cart {
    background-image: url("../assets/Image/pexels-sharon-mccutcheon.jpg");
    background-size: cover;
    -webkit-animation: slidein 100s;
    animation: slidein 100s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }
    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }
}

@keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }
    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }
}

.cart-noprod {
    color: #fcdde8;

    font-size: 80px;
    font-weight: 900;
    text-shadow: -0.0075em 0.0075em 0 #f80053, 0.005em 0.005em 0 #f6a5c1,
        0.01em 0.01em 0 #f7aac4, 0.015em 0.015em #ee4b84,
        0.02em 0.02em 0 #f8b3ca, 0.025em 0.025em 0 #f8b7cd,
        0.03em 0.03em 0 #cc0044, 0.035em 0.035em 0 #f9c0d3;
}
