.table__cart {
    display: flex;
    color: #800000;
    font-size: 20px;
}
.table__cart_subtitle {
    font-size: 20px;
    text-align: center;
}
.table__cart_title {
    font-size: 50px;
    text-align: center;
}

.table__cart_quick {
    color: black;
    font-size: 30px;
    text-align: center;
    padding-bottom: 60px;
}

.btn {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    text-decoration: none;
    text-decoration: none;
    color: #dce1e7;
}
a {
    text-decoration: none;
    color: #dce1e7;
}
.btn:hover {
    background-color: rgb(212, 144, 158);
}

.table__cart_quick_subtitle {
    padding-left: 100px;
    padding-right: 70px;
}
.demo-trigger {
    width: 500px;
}
.table__text_p {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

@media all and (max-width: 425px) {
    .demo-trigger {
        width: 200px;
    }
    .table__cart_desc {
        font-size: small;
    }
    .table__cart_title {
        font-size: 20px;
    }
    .table__cart_quick {
        font-size: 20px;
    }
    .btn__button {
        font-size: 12px;
    }
    .btn {
        font-size: 10px;
    }
}

@media all and (max-width: 427px) {
    .detail {
        display: none;
    }
}

@media screen and (max-width: 427px) {
    .table__cart_subtitle {
        color: rgb(187, 255, 0);
    }
}
