@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.title_string {
    background: #ea9d9b;
    height: 100px;
    text-align: center;
    font-size: 30px;
    overflow: hidden;

    padding-top: 11px;
}
.title_string_item {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: "Fjalla One", sans-serif;
    animation-name: text;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes text {
    0% {
        padding: 100px;
    }
    to {
        padding: 30px;
    }
}

.navbar__menu_logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1280px;
    justify-content: start;
}
.logo {
    width: 400px;
}
.input-search {
    width: 300px;
    height: 34px;
    padding-left: 20px;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 30px;
}
.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    justify-content: center;
    padding-left: 57px;
}
a {
    text-decoration: none;
    color: #404040;
}
.navbar__menu {
    display: flex;
    flex-wrap: wrap;
}

.navbar__item {
    list-style-type: none;
    justify-content: space-evenly;
    margin-left: 10px;
    font-size: 20px;
}
.navbar__middle {
    display: flex;
    flex-wrap: wrap;
}
