.item__title {
    color: #800000;
    font-size: x-large;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 12px;
}
.item__p {
    text-align: center;
    font-size: large;
    font-size: 23px;
    line-height: 32px;
    padding: 12px 0 48px;
}
.carousel__item {
    margin: 55px;
}
