canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}
/* .back__item {
    background-image: url("https://images.pexels.com/photos/913136/pexels-photo-913136.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: 100%;
    background-repeat: no-repeat;
} */
