.page-heading{
    margin: 0 0 1rem;
    text-align: left;
   
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    margin-top: 40px;

}
.checkbox-title{
    margin-left: 10px;
}

.customer{
font-weight: bold;
text-transform: uppercase;
padding: 0;
}
.address{
    border: 1px solid silver;
}

.order-next{
display: inline;
padding: 7px 25px;
cursor: pointer;
outline: none;
background:#ea9d9b;
margin-top: 50px;
font-size: 18px;
border-radius: 10px;  
margin-left: 50px;  
}
a{
text-decoration: none;
}
.order-next:hover{
  
    box-shadow: 0 15px 15px -10px rgba(0,0,0, .5);
    background: rgb(173, 36, 12);  
}
a:hover{
    text-decoration: none;
    }
.order{
    display: flex;
    /* justify-content: space-between; */
}
.coupon{
    color: rgb(173, 36, 12);  
}